CONFIG_IDF_TARGET="esp32c5"
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="8MB"
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_ota.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions_ota.csv"
CONFIG_ESP_WIFI_STA_DISCONNECTED_PM_ENABLE=n
CONFIG_LED_FLAG_WIFI_SSID="REDPIXEL_5G"
CONFIG_LED_FLAG_WIFI_PASSWORD="wled1234"
CONFIG_LED_FLAG_MATRIX_ID=1
CONFIG_LED_FLAG_WIFI_STATIC_IP=y
CONFIG_LED_FLAG_WIFI_IP_ADDR="192.168.1.201"
CONFIG_LED_FLAG_WIFI_GATEWAY="192.168.1.1"
CONFIG_LED_FLAG_WIFI_NETMASK="255.255.255.0"
CONFIG_LED_FLAG_WIFI_FAST_CONNECT=y
CONFIG_LED_FLAG_WIFI_5G_ONLY=y
CONFIG_LED_FLAG_WIFI_CHANNEL=0
CONFIG_LED_FLAG_WIFI_BSSID=""
CONFIG_LED_FLAG_WIFI_CONNECT_RETRY_MS=1500
CONFIG_LED_FLAG_WIFI_MIN_RSSI=-95
CONFIG_LED_FLAG_COLOR_ORDER_GRB=y
CONFIG_LED_FLAG_SD_MOUNT_POINT="/sdcard"
CONFIG_LED_FLAG_SD_DEFAULT_FILE="/sdcard/rec1.lfs"
CONFIG_LED_FLAG_SD_RECORD_FPS=30
CONFIG_LED_FLAG_SD_RECORD_QUEUE_LEN=6
# CONFIG_LED_FLAG_OFFLINE_ANIMATION is not set
CONFIG_LED_FLAG_RENTAL_BUTTON_GPIO=-1
